body{
	height: 100%;
	width: 100%;
	background-color: rgb(247, 246, 242);
}

.CENTER{
	text-align: center;
	align-self: center;
	display: block;

	margin:0 auto;
}

.LEFT{
	text-align: left;
}

.GROOVE{
	border-style: groove;
}

.FONT1{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
}

.FONT2{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
}

#titlelogocontainer{
	background-color: rgb(183, 177, 159);
}

#titlelogo{
	width: 50vh;
	height: 30vh;
	border: rgb(0,0,0); border-width: 1px;
}

#userlogincontainer{
	width: 50vh;
	background-color: rgb(229, 224, 208);
	text-align: center;
	margin-top: 10px;
}

#usernameinput{
	width: 90%;
	height: 8vh;

}

#playbutton{
	width: 50%;
	margin-top: 10px;
	height: 8vh;
	margin-bottom: 10px;
}

#canvas{
	width:50%;
	height: 75vh;
	background-color: rgb(229, 199, 110);
	display: none;
}
